*{margin:0; padding:0; border:none}
.content.content-contra{width:100%; height:100%; background:#000}
.contrabox{width:911px; height:876px; background:#000 url("contra-xx-bg_transparent-w911h876.png") 50% 50% no-repeat; margin-left:auto; margin-right:auto}

